@import url(https://fonts.googleapis.com/css?family=Georama);

* {
    font-family: 'Georama', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(45, 74, 138);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.calculator-container {
  max-width: 280px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: rgb(17, 31, 43);
  border-radius: 15px;
}
.result-container {
  height: 60px;
  width: inherit;
  margin: 10px 0px 20px;
  padding: 10px;
  color: white;
  text-align: end;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  background-color: rgb(60, 60, 60);
}

.previous-result {
    font-size: medium;
    font-weight: bold;
    color: gray;
}

.current-result {
    font-size: larger;
    font-weight: bold;
}

.keypad {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.keypad > button {
    min-height: 65px;
    min-width: 65px;
    margin: 2.5px;
    color: white;
    background-color: rgb(33,48,61);
    box-sizing: border-box;
    border-radius: 100%;
    font-size: large;
}
