@import url(https://fonts.googleapis.com/css?family=Georama);

* {
  font-family: "Georama", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(68, 87, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.calculator-container {
  max-width: 280px;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: rgb(17, 31, 43);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.result-container {
  height: 60px;
  width: inherit;
  margin: 10px 0px 20px;
  padding: 10px;
  text-align: end;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: rgb(60, 60, 60);
}

.display-operation {
  font-size: medium;
  font-weight: bold;
  color: gray;
}

.display-input {
  font-size: larger;
  font-weight: bold;
}

.keypad {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.keypad > button {
  min-height: 65px;
  min-width: 65px;
  margin: 2.5px;
  background-color: rgb(33, 48, 61);
  box-sizing: border-box;
  border-radius: 100%;
  font-size: large;
}

#calculate {
  flex-grow: 1;
  border-radius: 50px;
}

footer {
  margin: auto;
}

footer > a {
  color: white;
}

.result-container,
.keypad > button,
footer {
  color: white;
}
